In [3]:
# question 1
import math

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sorting the list 
ages.sort()

# printing the sorted list
print("The sorted list is :",ages)

#finding and printing the maximum age
print("The max age is :",max(ages))

#finding and printing the minimum age
print("The min age is :",min(ages))

# adding max age to list
ages.append(max(ages))

# adding min age to list
ages.append(min(ages))
print("sorted list with min and max age added",ages)

# newlist with sorted ages
newlist = sorted(ages)
n = math.floor(len(newlist))
median = (newlist[int(n/2)] + newlist[int(n/2)+1])/2
print("The median age is :",median)

# finding the average of list
avg_age = sum(newlist)/len(newlist)
print("The average age is :",avg_age)

# finding the range of list
range_age = max(newlist) - min(newlist)
print("The range is :", range_age)

The sorted list is : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The max age is : 26
The min age is : 19
sorted list with min and max age added [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
The median age is : 24.0
The average age is : 22.75
The range is : 7

In [5]:
# question 2

# creating an empty dictionary called dog
dog={}
print("created empty dictionary", dog)

# creating key:value pairs for dog dictionary
dog={
    "name":  "shushulu",
    "colour":"golden",
    "breed": "golden retriever",
    "legs":  "white",
    "age":   10
}
print("The dog dictionary contains :",dog)

# creating a student dictionary with key:value pairs
student={
    "first_name" :"Dharani Chowdary",
    "last_name"  :"Atukuri",
    "gender"     :"Female",
    "age"        :"23",
    "martial status":"single",
    "skills" : ["python"],
    "country"    :"India",
    "city"       :"Khammam",
    "address"    :"2-134,Khammam"
}
print("The student dictionary contains :",student)

# printing the length of dictionary
print("The length of student dictionary is",len(student))

# printing the value of skills and checking the data type
print(student['skills'],"the data type of skills is :", type(student["skills"]))

# adding values to skills
student["skills"].extend(["java","Html"])
print(student['skills'])

# printing the dictionary keys
a=student.keys()
print(a)

# printing the dictionary values
b=student.values()
print(b)

created empty dictionary {}
The dog dictionary contains : {'name': 'vinay', 'colour': 'golden', 'breed': 'golden retriever', 'legs': 'white', 'age': 10}
The student dictionary contains : {'first_name': 'Dharani Chowdary', 'last_name': 'Atukuri', 'gender': 'Female', 'age': '23', 'martial status': 'single', 'skills': ['python'], 'country': 'India', 'city': 'Khammam', 'address': '2-134,Khammam'}
The length of student dictionary is 9
['python'] the data type of skills is : <class 'list'>
['python', 'java', 'Html']
dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address'])
dict_values(['Dharani Chowdary', 'Atukuri', 'Female', '23', 'single', ['python', 'java', 'Html'], 'India', 'Khammam', '2-134,Khammam'])

In [6]:
# question 3

# Create a tuple containing names of brothers
brothers = ("gopi","ashok")
print("My brothers ", brothers)

# Create a tuple containing names of sisters
sisters = ("gomathi","divya")
print("My sisters ", sisters)

# assigning brothers and sisters to siblings tuple
siblings = brothers + sisters
print("My siblings ", siblings)

# printing the length of tuple
print(len(siblings))

# adding siblings, father and mother names to family_members tuple
family_members = siblings + ("renuka","mohan")
print("My family members are ",family_members)

My brothers  ('gopi', 'ashok')
My sisters  ('gomathi', 'divya')
My siblings  ('gopi', 'ashok', 'gomathi', 'divya')
4
My family members are  ('gopi', 'ashok', 'gomathi', 'divya', 'renuka', 'mohan')

In [7]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# printing the length of it_companies
print("The length of set is",len(it_companies))

# adding Twitter to it_companies
it_companies.add("Twitter")
print("Added Twitter", it_companies)

# inserting multiple companies 
it_companies.update({"Accenture","Tata elxsi","Capital one"})
print("Updated IT companies", it_companies)

# removing capital one from it_companies
it_companies.remove("Capital one")
print("Company Capital one removed from set",it_companies)

# union of A and B
C = A.union(B)
print("The union of A and B",C)

# intersection of A and B
X = A.intersection(B)
print("The intersection of A and B",X)

# subset of A and B
Y = A.issubset(B)
print("A is subset of B",Y)

length of it_companies :  7
it_companies after appending twitter : {'Microsoft', 'Amazon', 'Twitter', 'Apple', 'Google', 'IBM', 'Facebook', 'Oracle'}
it_companies after appending multiple companies : {'Microsoft', 'Amazon', 'TCS', 'Twitter', 'Apple', 'Google', 'Wipro', 'IBM', 'Facebook', 'Oracle', 'NCR'}
it_companies after removing one company :  {'Microsoft', 'Amazon', 'TCS', 'Apple', 'Google', 'Wipro', 'IBM', 'Facebook', 'Oracle', 'NCR'}
joining A and B gives : {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B is: {19, 20, 22, 24, 25, 26}
A is subset of B
A and B are not disjoint sets
A join B is : {19, 20, 22, 24, 25, 26, 27, 28}
B join A is : {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference between A and B is : {27, 28}
length of ages list is :  8
length of ages set is : 5
length of ages list is greater than the ages set

In [8]:
# disjoint of A and B
Z = A.isdisjoint(B)
print("A is disjoint of B",Z)

# join A and B
A.update(B)
print(A)

# join B and A 

B.update(A)
print(B)

# symmetric difference of A and B
U = A.symmetric_difference(B)
print("Symmetric difference of A and B",U)

A is disjoint of B True
set()
set()
Symmetric difference of A and B set()

In [11]:
# deleting A set
del(A)
print(A)

NameError: ignored

In [12]:
# deleting B set
del(B)
print(B)

NameError: ignored

In [13]:
# printing the length of age list
print(len(age))

# converting age list to set
W = set(age)
print(W)

# printing the len of age set 
print(len(W))

# comparing the length of list and set
print("compare the length", len(age)==len(W))

8
{19, 22, 24, 25, 26}
5
compare the length False

In [ ]:
# question 5

# given Radius of circle is 30
R = 30 

# assign the value to a variable name of area_of_circle
area_of_circle = 3.14*R*R
print("The area of circle is", area_of_circle)

# calculating circumference of circle
circum_of_circle = 2*3.14*R
print("The circumference of circle is", circum_of_circle)

# taking radius as user input and calculating the area of circle
r = float(input("Enter the radius: "))
area = 3.14*r*r
print("The area of circle is", area)

The area of circle is 2826.0
The circumference of circle is 188.4
Enter the radius: 5
The area of circle is 78.5

In [ ]:
# question 6

# assigning given string to str
str ="I am a teacher and I love to inspire and teach people"

# storing string in the form of list of words
s = set(str.split(" "))
print("Number of unique words", len(s))

Number of unique words 10

In [ ]:
# question 7

# printing the below print statement
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
# question 8

# Given radius = 10
r = 10
a = 3.14*r*r

#The placeholders can be identified using numbered indexes {0}, or even empty placeholders {} 
#Inside the placeholders we can add a formatting type to format the result
str = "The area of a circle with radius {} is {} meters square".format(r,a)
print(str)

The area of a circle with radius 10 is 314.0 meters square

In [1]:
# question 9


w_lb = []
w_kg = []

# user input to enter the number of students
n = int(input("Enter number of students:"))

# using for loop

for i in range(0, n):
    uinp = int(input())
    w_lb.append(uinp)

    kg = uinp * 0.453592
    w_kg.append(kg)
print("user input",w_lb)
print(w_kg)

Enter number of students:2
30
30
user input [30, 30]
[13.607759999999999, 13.607759999999999]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

data_points = [[1,0],[2,0],[3,1],[6,1],[6,1],[7,0],[10,0],[11,0]]
x = [[1],[2],[3],[6],[6],[7],[10],[11]]
y = [0,0,1,1,1,0,0,0]

# splitting data
data_train, data_test, pred_train, pred_test = train_test_split(x,y, test_size=0.5, random_state=33)

print(data_train, data_test, pred_train, pred_test)

[[7], [3], [1], [6]] [[10], [11], [6], [2]] [0, 1, 0, 1] [0, 0, 1, 0]